.about-img23 {
  height: 20vw;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 5px;
}
.about-img22 {
    width: 18vw;
    height: 18vw;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 5px;
}
