
.nav-item {
    text-decoration: none;
    margin-right: 20px;
    background: linear-gradient(200deg, rgb(250, 1, 1), #fd0101,#fc0202);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 500;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-item:hover {
    /* -webkit-text-fill-color: darkblue;/ */
    -webkit-text-fill-color: #00d2ff;
    font-weight: bold;
}

