.work{
  background-color: #1c1d20;
}
.card {
  width: 400px;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
